* {
    font-family: "Poppins";
}

.navbar-brand {
    font-weight: 900;
}

/* .navbar-toggler {
    margin-left: 300px;
} */

.navbar-toggler:focus {
    box-shadow: none;
}

.carousel-caption {
    margin-bottom: 400px;
}

.carousel-caption h5 {
    font-size: 4.5rem;
}

.carousel-caption p {
    font-size: 1.5rem;
}

marquee {
    color: white;
    font-size: 1.2rem;
}

.marquee-container {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.marquee-text {
    display: inline-block;
    vertical-align: middle;
}

.card-img-overlay {
    margin-top: 400px;
}

.btn-outline-light:focus {
    box-shadow: none;
}

.last-section {
    margin-top: 0;
}